/* 
@media screen and (max-width: 960px)and (min-width : 799px)  {
  body {
    background-color: rgb(123, 255, 0);
  }
} */

@media only screen and (max-width: 960px) and (min-width: 350px) {
  body {
    /* background: rgb(19, 56, 16); */
    /* background: rgb(59, 172, 51); */
  }

  .links ul {
    display: none;
  }

  nav button {
    display: block;
  }
  main {
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    /* border: solid; */
    /* justify-content: ; */
  }
  .main_text {
    /* flex: 0; */
    /* height: 390px; */
    /* width: 100%; */
    font-size: 20px;
    padding: 0px;
    /* margin: 0px; */
    /* border: solid teal; */
  }
  .main_img {
    width: 300px;
    height: 300px;
    /* margin-top: -730px; */
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_img img {
    height: 80%;
    width: 80%;
    /* border: solid; */
    opacity: 0.5;
  }

  .about {
    /* border-bottom: solid aqua; */
    border-bottom: 1px solid rgb(236, 48, 236);
    min-height: 730px;
    /* border: dotted aqua; */
    /* width: 80vw; */
    /* margin: 0 auto; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* border: dashed red; */
  }
  .about_img {
    /* width: 40%; */
    /* height: 200px; */
    width: 230px;
    /* border: solid aqua; */
    /* border: dotted aqua; */
    display: flex;

    /* align-items: center; */
    justify-content: center;
    /* margin: 0 auto; */
  }
  .about_img img {
    height: 90%;
    width: 90%;
    /* border: solid; */
  }
  .about_text {
    width: 99%;
    height: 70%;
    /* border: solid darkblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: dotted aqua; */
  }

  .about_heading {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 71, 255);
  }

  .about_para {
    margin: 20px 0;
    font-style: oblique;
    text-align: center;
  }
  .personal > div {
    margin: 19px 0;

    font-size: 15px;
    /* border: dashed rgb(255, 251, 0); */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
  }
  .pr_div1 {
    width: 120px;
    /* border: solid red; */
  }
  .pr_div2 {
    /* border: solid green; */
    width: 70%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .interests {
    /* border: solid; */
    margin-top: 0px;
  }
  .intr_icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center  ;
    justify-content: space-between;
    /* border: aqua solid; */
  }

  .my_work_heading {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
    /* border: solid; */
    /* color: purple; */
    color: rgb(255, 71, 255);
    text-align: center;
  }

  .basic_pro_h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0;
    /* text-decoration: underline; */
    /* font-style: ; */
  }

  .cards {
    /* border: solid red; */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-between; */
  }


  .skills {
    width: 80vw;
    margin: 0 auto;
    /* border: saddlebrown solid; */
  }

  .skills_inner {
   /* border: solid red ; */
    min-height: 70vh ;
  }
  .skill_text {
    /* min-height: 80px; */
    height: 300px;
    /* border: solid aqua; */
    display: flex;
    align-items: center;
/* margin-top: -20px; */
    /* justify-content: space-between; */
  }
  .skill_img {
    /* border: solid greenyellow; */
    height: 200px;
    margin: 5px 0 ;
    /* justify-content: flex-end; */
  }
}
